:root {
  --color-bg: #111010;
  --color-white: #ffffff;
  --color-grey: #d4d4d4;
  --color-grey-dark: #262626;
  --color-grey-light: #4d4d4d;
  --color-border: #404040;

  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
}
