.experience {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &__description {
    margin-top: 0.5rem;
  }
  &__text {
    margin: 0;
    margin-top: 1rem;
    color: var(--color-grey);
    font-size: var(--text-base);
    font-weight: 500;
    letter-spacing: -0.03rem;
    p {
      margin: 1.25rem 0;
    }
    ul {
      margin: 1.25rem 0;
      padding-left: 1.625rem;
    }
    li {
      margin: 0.5rem 0;
    }
    span {
      color: var(--color-white);
      text-decoration: underline;
      text-decoration-color: var(--color-grey-light);
      text-decoration-thickness: 0.1em;
      text-underline-offset: 2px;
    }
  }
}

.hr {
  margin: 0;
  width: 100%;
  border-color: var(--color-grey-dark);
}
